VITE_HANDLER_ADDRESS=0x3680Ad8BCd99c50f90193a458D786839667678bA
VITE_ENDORSER_ADDRESS=0x4E5184D65041F2e2d79e81Ef0640f1Ef9E28305b

VITE_BUNDLER_URL=https://google.com
VITE_NODE_URL=https://nodes.sequence.app/arbitrum/AQAAAAAAAC4rgm7lKiJuy1REFJJ_h7oqGss
VITE_CHAIN_ID=421611

VITE_GAS_LIMIT=160000
